#chat {
margin-bottom: 10px;
position: absolute;
left: 235px;
bottom: 50px;

}

#cart {
margin-bottom: 15px;
position: absolute;
left: 275px;
bottom: 0px;

}

.title {
text-align: center;
font-weight: 500;
}

.card{
font-size: 140%
}
#listinginfo{
margin-left: 50px;
margin-top: 30px;
}

.row{
margin: auto;
width: 98%;
position: relative;
right: -20px;
}
#tired {
color: black;
text-decoration: none;
}
#tired:hover {
color: #17a2b8;

}
#back{
background-color: #17a2b8;
color: white;
}
