{% extends "base.html" %}
{% block title %}Library Loan System - Create Item{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}


<head>
  <title>Add New Item</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/createCustomer.css') }}">
</head>

<form method="POST" action="" enctype="multipart/form-data" class="form-container">
 <h1 class="display-4" id="header">Add a new Item</h1>
  <div class="form-group">
    {{ render_field(form.image, class="form-control") }}
  </div>

    <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group" style="white-space: pre-line;">
    {{ render_field(form.description, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.rate, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.on_loan, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.available, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.location, class="form-control") }}
  </div>
  <input id="submit" type="submit" value="Add item to inventory" class="btn btn-primary"/>
  <br>
</form>
{% endblock %}
