{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}



<h1 id = "page_top"> Items for Rent </h1>
<!--print items in dictionary-->
    <div class="row">
    {%for item in items_list%}

    <div class="col-lg-4 col-sm-6 pb-4">
        <div class="card" style="width: 25rem;" id="item-card">
            <img src= "{{url_for('static', filename='/images/'~item.get_id()~'.png')}}" alt="{{item.get_name()}}"  id="listingImage" style="width: 400px; height: 300px; object-fit: cover;">
            <div id="listingInfo">
                <p>Item ID: {{item.get_id()}}</p>
                <p class="card-title">Item Name: {{item.get_name()}}</p>
                <p>Specifications: {{item.get_description()}}</p>
                <p>${{item.get_rate()}}/day</p>
                <p id = "on_loan" style="color: red;">On Loan: {{item.get_on_loan()}}</p>
                <p id = "available" style="color: green;">Available: {{item.get_available()}}</p>
            </div>

        </div>
    </div>

    {%endfor%}
    </div>






{% endblock %}
