{% extends "base.html" %}
{% block title %}My Listings{% endblock %}

{% block content %}



<h1 class="display-4">My Listings</h1>
<br>
<!--print items in dictionary-->
    <div class="row">
    {%for item in items_list%}

    <div class="col-lg-4 col-sm-6 pb-4">
        <div class="card" style="width: 25rem;" id="item-card">
            <img src= "{{url_for('static', filename='/images/'~item.get_id()~'.png')}}" alt="{{item.get_name()}}"  id="listingImage" style="width: 400px; height: 300px; object-fit: cover;">
            <div id="listingInfo" style="margin-left: 50px; margin-top: 30px;">
                <p>Item ID: {{item.get_id()}}</p>
                <p class="card-title">Item Name: {{item.get_name()}}</p>
                <p class="card-title">Item ID: {{ item.get_vendor_id() }}</p>
                <p>Specifications: {{item.get_description()}}</p>
                <p>${{item.get_rate()}}/day</p>
                <p id = "on_loan" style="color: red;">On Loan: {{item.get_on_loan()}}</p>
                <p id = "available" style="color: green;">Available: {{item.get_available()}}</p>
            </div>
                <!--    update item-->
            <a href='/updateitem/{{ vendorid }}/{{item.get_id()}}/' class="btn btn-info" style="margin-left: 250px; width: 115px;" id ="updateButton">Update Item</a>
                <!--delete item-->
            <form action="{{url_for('delete_item', vendorid=vendorid, id=item.get_id())}}"  method="POST">
                <input type="submit" value="Delete" class="btn btn-danger"  id = "deleteItem" style="margin-left: 266px; width: 115px; margin-top: 10px;">
            </form>
            <br>
        </div>
    </div>

    {%endfor%}
    </div>








{% endblock %}
