{% extends "base.html" %}
{% block title %}Book Item{% endblock %}

{% block content %}
<style>
    #pageHolder {
        width: calc(100vw - 30px);
        height: calc(100vh - 56px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    th {
        padding: 0 60px;
        text-align: center;
        width: 250px
    }

    tr {
        border: 1px solid black;
    }

    img {
        max-width: 50%;
        margin: 20px 0;
    }

    td {
        width: 250px;
        text-align: center;
    }

    tr > td:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .button {
        color: white;
        background-color: black;
        width: 300px;
        padding: 15px 0;
        border: none;
        margin: 50px 20px;
        border-radius: 5px;
        text-align: center;
    }

    .button:nth-child(1) {
        background-color: blueviolet;
    }

    .button:hover {
        text-decoration: none;
        color: lightgrey;
    }
</style>
<div id="pageHolder">
    <h1 style="">thanks</h1>
    <div style="display: flex">
        <a class="button" href="/">Go Back Home</a>
    </div>
</div>
{% endblock %}