{% extends "baseless.html" %}
{% block title %}Update Customer{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/updateCustomer.css') }}">
</head>

<form method="POST" action="" class="form-container">
  <h1 class="display-4">Update Account</h1>
<hr>
<br>
  <div class="form-group">
    {{ render_field(prefill_customer_form.username, class="form-control") }}
  </div>
  <br>
  <div class="form-group">
    {{ render_field(prefill_customer_form.email, class="form-control") }}
  </div>
  <br>
  <p class="form-group">
    {{ render_field(prefill_customer_form.password, class="form-control") }}
  </p>
  <br>
  <br>
  <input type="submit" value="Edit Account" class="btn bg-info btn-dark"/>
  <br>
  <br>
  <a href="/customerAccountPage/{{ idk }}"><input type="button" value="Cancel" class="btn btn-danger" id="cancelbutton"/></a>
</form>

{% endblock %}
