
{% extends "base.html" %}
{% block title %}Library Loan System - Update User{% endblock %}

{% block content %}
{% from "includes/formHelper.html" import render_field %}

<head>
  <title>Update Item</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/createCustomer.css') }}">
</head>


<form method="POST" action="" enctype="multipart/form-data" class="form-container">

  <h1 class="display-4" id="header">Update Details of Item</h1>
<!--  {%for item in items_list %}-->
<!--  <img src= "{{url_for('static', filename='/images/'~item.get_id()~'.png')}}" alt="{{item.get_name()}}"  id="listingImage">-->
<!--  {%endfor%}-->
  <div id = "formField">
  <div class="form-group">
    {{ render_field(form.image, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.description, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.rate, class="form-control") }}
  </div>
  <div id="prof">
    <div class="form-group">
      {{ render_field(form.on_loan, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.available, class="form-control") }}
    </div>
          <div class="form-group">
      {{ render_field(form.location, class="form-control") }}
    </div>
  </div>
  <input id = "submit" type="submit" value="Save Changes to Item" class="btn btn-primary" />
    </div>
  <br>
</form>

{% endblock %}
